admin/*
# to be released on Jan 28
assessments/Assessment_2/* 
# to be released on Feb 4
assessments/Assessment_3/* 
# to be released on Feb 11
assessments/Assessment_4/* 
*_Solutions_Key.ipynb
Todo.md
.vscode/
# *.key
# *.pdf
# *.pptx
.DS_Store
.agent/*
*_Slides.md
~$*